html{
	
}

body {
	padding: 5px;	
	background: url(/SchoolProjectJavaEE/resources/image/bright_squares.png);
	
}
#header{
	padding: 5px;
	text-align: center;	
	
}

.datatable{
	font-family: verdana;
	position: static;
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

.add-serie-button {
	margin-left: 120px;
}
.search-group{
	
}
.logout-button {
	
}

.table-header {
	
}

.table-row {
	
}

#wrapper {
	
}

#container {
	
}

#container h3 {

}

#container form#add input {

}

#container form#find {

}

#container form#find label {

}

#container form#find input {

}

#container #content {
	
}

.login-button {

}

